<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>infobox测试</title>
    <img src="../static/images/carrier_logo_150.png" width="80" height="auto">

    <link rel="stylesheet" type="text/css" href="../../static/blog/infoboxtest.css"/>

    <script>

        function getDate(){
            var date = new Date();
            var d1=date.toLocaleString();
            document.getElementById("datetime").innerHTML = "Current time (Asia/Shanghai):"+d1;
        }
        setInterval("getDate();",1000);
    </script>

    </head>

<body onload=getDate()>


    <div class="page-header" id="datetime">

        <h5>Asia/Shanghai</h5>
    </div>
    <!--<div id="datetime"></div>-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=A5j0zidDv3y1zNLNRFDIVGXSOOsUdoXX"></script>
    <div style=width:1200px;height:500px; border:#ccc solid 1px;font-size:12px id="map"></div>



</body>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){
      map = new BMap.Map("map");
      map.centerAndZoom(new BMap.Point(106.558437,29.568996),5);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableDragging();
    }

    function addClickHandler(target,window){
      target.addEventListener("click",function (){
          //console.log(this);}.bind(someString),);
          target.openInfoWindow(window);
          //infoBox.open(target);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"上海市浦东新区申江路3239号<br>经度：31.249782 纬度：121.632946<br>Weather: 32°<br>test1:<br>test2:<br>test3:<br>test5:<br>test6:",
            title:"开利中国研发中心",imageOffset: {width:0,height:3},position:{lat:31.249782,lng:121.632946}},
        {content:"广州市天河区珠江西路15号珠江城大厦",title:"开利空调（广州）",imageOffset: {width:0,height:3},position:{lat:23.129969,lng:113.32945}},
        {content:"上北京市东城区建国门南大街7号北京万豪中心A座7层705室",title:"开利中国总部（北京）",imageOffset: {width:0,height:3},position:{lat:39.910379,lng:116.440642}},
        {content:"重庆市渝中区民族路188号环球金融中心19-10",title:"开利中国总部（重庆）",imageOffset: {width:0,height:3},position:{lat:29.565201,lng:106.584247}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/img/markers.png",new BMap.Size(25,25),{
                offset:new BMap.Size(9,25),
                /*imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)*/
                imageOffset: new BMap.Size(0,0-12 *25)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 300,
          height: 200,
          title: markers[index].title,
          enableAutoPan: true,
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        /*var infoBox = new BMapLib.InfoBox(map,markers[index],{
            boxStyle:{
                background:"#F8F8F8 no-repeat center top",
                width:"250px",
                height:"200px",
            },
            closeIconMargin:"12px 2px 0 0",
            align:INFOBOX_AT_TOP,
            enableAutoPan:true
        });*/
        //infoWindow.setContent();
        marker.setLabel(label);
        //infoBox.open(marker);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      }
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
  </script>
</html>