<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
</head>
<body>
    <div>
        <em>Here's the list of all blogs.</em>
    </div>
    <br>

    <div>
        <p>published: 2023/07/31, 14:00</p>
        <b><a href="">1</a></b>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>


</body>
</html>